# Easy Exercises

1. String Iteration: Print each character of the string "Python" on a new line.:

In [56]:
string_name = input("Enter a string: ")

for element in string_name:
    print(element)

h
e
l
l
o

2. List Iteration: Iterate over the list [10, 20, 30, 40] and print each element doubled.

In [57]:
number_list = [10, 20, 30, 40]

for element in number_list:
    print(pow(element, 2))

100
400
900
1600

3. Tuple Iteration: Given the tuple (5, 10, 15), print each value multiplied by 3.

In [58]:
numer_tuple = (5, 10, 15)

for element in numer_tuple:
    print(element * 3)

15
30
45

4. Dictionary Iteration: Iterate over the dictionary {'a': 1, 'b': 2, 'c': 3} and print each key-value pair in the format "key: value".

In [59]:
my_dict = {"a":1, "b":2, "c":3}

for key, value in my_dict.items():
    print(key, value)

a 1
b 2
c 3

5. Set Iteration: Print each element of the set {1, 2, 3, 4}.

In [60]:
my_set = {1, 2, 3, 4}

for element in my_set:
    print(element)

1
2
3
4

6. String Indexing: For the string "hello", print each character along with its index.

In [61]:
my_string = "hello"

for element in enumerate(my_string):
    print(element)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

7. List of Strings: Iterate over the list ['apple', 'banana', 'cherry'] and print each string's length.

In [62]:
fruits = ["apple", "banana", "cherry"]

for element in fruits:
    print(element, len(element))

apple 5
banana 6
cherry 6

8. List Comprehension: Use a for loop to create a new list containing the squares of numbers in the list [1, 2, 3, 4, 5].

In [63]:
number_list = [1, 2, 3, 4, 5]
new_list = [num ** 2 for num in number_list]
print(new_list)

[1, 4, 9, 16, 25]

9. Dictionary Values: Given the dictionary {'x': 10, 'y': 20, 'z': 30}, print only the values.

In [64]:
num_dict = {"x":10, "y":20, "z":30}

for values in num_dict.values():
    print(values)

10
20
30

10. String Splitting: For the string "one,two,three", split it by commas and print each word.

In [65]:
my_string = "'one, two, three"

for word in my_string.split(","):
    print(word)

'one
 two
 three

# Medium Exercises

1. Sum of Numbers: Calculate and print the sum of all numbers from 1 to 100 using a for loop.

In [66]:
add = 0
for num in range(1, 101):
    add += num
print(add)

5050

2. Reverse String: Given a string "hello", print the string in reverse using a for loop.

In [67]:
normal_string = input("Enter a string: ")
reversed_string = ""
for char in normal_string:
    reversed_string = char + reversed_string
   
print(reversed_string)

esrevinU olleH

3. Multiplication Table: Print the multiplication table for a number (e.g., 7) up to 10.

In [68]:
number = int(input("Enter a numer for multiplication table: "))

for i in range(1, 11):
    print(f" {i} x {number} = {i * number}")

 1 x 99 = 99
 2 x 99 = 198
 3 x 99 = 297
 4 x 99 = 396
 5 x 99 = 495
 6 x 99 = 594
 7 x 99 = 693
 8 x 99 = 792
 9 x 99 = 891
 10 x 99 = 990

4. Character Count: Given the string "programming", count and print the number of occurrences of each character.

In [69]:
my_string = input("Enter a string: ")
char_dict = {}

for char in my_string:
    if char in char_dict:
        char_dict[char] += 1
    else:
        char_dict[char] = 1

for char, count in char_dict.items():
    print(char, count)

M 1
a 1
l 1
c 1
o 1
m 1

5. Pattern Printing: Print a pattern of stars like this:
    *
    **
    ***
    ****

In [70]:
symbol = "*"
rows = int(input("How many rows?: "))
for i in range(1, rows + 1):
    print(symbol * i)

*
**
***
****

6. Range Sum: Calculate and print the sum of all even numbers from 1 to 50.

In [71]:
sum_numbers = 0
for numbers in range(1, 51):
    if numbers % 2 == 0:
        sum_numbers += numbers
print(sum_numbers)

650

7. Digit Sum: Given a number (e.g., 1234), compute and print the sum of its digits.

In [72]:
my_number = input("Enter a number: ")
sum_digits = 0
for i in range(len(my_number)):
    sum_digits += int(my_number[i])

print(sum_digits)

7

8. Even and Odd: Iterate over the range from 1 to 20 and print whether each number is even or odd.

In [73]:
for i in range(0, 21):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

9. Cumulative Sum: Given the list [1, 2, 3, 4], compute and print the cumulative sum of the list elements.

In [74]:
my_list = [1, 2, 3, 4]
cul = 0
for i in range(len(my_list)):
    cul += my_list[i]
    
print(cul)

10

10. String Join: Given a list of words ['hello', 'world'], join them into a single string separated by spaces and print it.

In [75]:
# Ignoring prompt for a more pythonic solution
words_list = ["Hello", "world"]
print(" ".join(words_list))

Hello world

# Hard Exercises

1. Factorial Calculation: Compute and print the factorial of a number (e.g., 5) using a for loop.

In [76]:
# 5! = 5 * 4 * 3 * 2 * 1 = 120
number = int(input("Enter a factorial number: "))
factorial = 1

for i in range(number, 0, -1):
    factorial *=  i
    
print(f"The factorial of {number} is {factorial}")

The factorial of 10 is 3628800

2. Fibonacci Sequence: Print the first 10 numbers of the Fibonacci sequence.

In [77]:
# Fibonacci sequence = each number is a sum of the two previous one.
#                   0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144
n = int(input("How many numbers in the sequence would you like to have: "))
sequence = 0
num1 = 0
num2 = 1

# Print the first two numbers if n >= 1
print("Fibonacci sequence:", end=" ")
if n >= 1:
    print(num1, end=" ")
if n >= 2:
    print(num2, end=" ")
    
for i in range(2, n):
    sequence = num1 + num2
    num1 = num2
    num2 = sequence
    print(sequence, end =" ")

Fibonacci sequence: 0 1 1 2 3 5 8

3. Prime Numbers: Print all prime numbers between 1 and 50.

In [78]:
def is_prime(n):
    if n <= 1:      # 1 or negative numbers aren't prime
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:      # If n can be divided by itself, not prime
            return False
    return True

primes = [n for n in range(1, 51) if is_prime(n)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

4. List Filtering: Given the list [1, 2, 3, 4, 5, 6], create a new list containing only the even numbers and print it.

In [79]:
my_list = [1, 2, 3, 4, 5, 6]

even_list = [x for x in my_list if x % 2 == 0]
print(even_list)

[2, 4, 6]

5. Nested Dictionary: For the dictionary {'user1': {'name': 'John', 'age': 30}, 'user2': {'name': 'Jane', 'age': 25}}, print each userâ€™s name and age.

In [80]:
nested_dict = {
        'user1': {'name': 'John', 'age': 30}, 
        'user2': {'name': 'Jane', 'age': 25}
}

for item in nested_dict.values():
    print(item["name"], end="")
    print(" ", item["age"])

John  30
Jane  25

6. Set of Tuples: For the set {(1, 'a'), (2, 'b')}, iterate over it and print the first and second elements of each tuple.

In [81]:
my_set = {(1, "a"), (2, "b")}

for el1, el2 in my_set:
    print(el1, el2)

1 a
2 b

7. List of Lists: Given the list [[1, 2], [3, 4], [5, 6]], iterate over it and print the sum of each inner list.

In [82]:
del sum         # Having an error somewhere with another sum
my_3d_list = [
                [1,2],
                [3, 4],
                [5, 6]
              ]
for inner_list in my_3d_list:
    sum_list = sum(inner_list)
    print(sum_list)

NameError: name 'sum' is not defined

8. Multiples of a Number: Print the first 10 multiples of a number (e.g., 3).

9. String Character Frequency: Given a string "aabbcc", count and print the frequency of each character using a dictionary.

In [52]:
str_input = input("Enter a string with some repeating letters: ")
char_dict = {}
for char in str_input:
    if char in char_dict:
        char_dict[char] += 1
    else:
        char_dict[char] = 1
for key, value in char_dict.items():
    print(key, value)

{'a': 2, 'b': 2, 'c': 2}
a 2
b 2
c 2

10. String Pattern Generation: Print a pattern like this:

1
22
333
4444
where the number of rows and the repeating digit is based on a given number (e.g., 4).

In [55]:
number = int(input("Enter a number: "))
for i in range(number):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999