Create a function job_title_contains that takes a job title and a keyword as arguments, and returns True if the job title contains the keyword, otherwise returns False. 

To confirm the function works, set the job_title to 'Data Scientist' and the keyword to 'Data'.

In [2]:
def job_title_contains(job_title, keyword):
    return keyword in job_title

job_title = "Data Scientist"
keyword = "Data"

job_title_contains(job_title, keyword)

True

Create a function average_salary that takes a list of salaries and returns the average salary. With the salaries set as [95000, 120000, 105000, 90000, 130000].

In [3]:
def average_salary(list_salaries):
    return sum(list_salaries) / len(list_salaries)

salaries = [95000, 120000, 105000, 90000, 130000]

average_salary(salaries)

108000.0

Create a function salary_statistics that takes a list of salaries and returns a dictionary with the minimum, maximum, and average salary. The list of salaries is set to [95000, 120000, 105000, 90000, 130000].

In [5]:
def salary_statistics(list_salaries):
    stats_dict = {"Minimum":min(list_salaries), "Maximum":max(list_salaries), "Average":average_salary(list_salaries)}
    return stats_dict
    

salaries = [95000, 120000, 105000, 90000, 130000]
salary_statistics(salaries)

"""
    Or:
def salary_statistics(salaries):
    return {
        'min': min(salaries),
        'max': max(salaries),
        'average': sum(salaries) / len(salaries)
    }
"""

{'Minimum': 90000, 'Maximum': 130000, 'Average': 108000.0}

Create a function job_posting_summary that takes a list of job postings, where each posting is a dictionary with keys 'title', 'location', and 'salary', and returns a summary dictionary with the total number of postings, the average salary, and a list of unique locations. The job_postings is set to [{'title': 'Data Scientist', 'location': 'New York', 'salary': 95000}, {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000}, {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}].

In [15]:
def job_posting_summary(list_jobs):
    """
    :param list_jobs: 
    :return: A dictionary with:
             Total number of postings
             Average salary
             List of unique locations
    """
    postings = len(list_jobs)
    ttl_salary = sum(x["salary"] for x in list_jobs)
    avg_salary = ttl_salary / postings
    locations = list(set(x["location"] for x in list_jobs))

    
    summary_dict = {
         "Total number of postings": postings,
         "Average salary": avg_salary,
         "List of unique locations": locations
    }
    return summary_dict

job_postings = [
    {"title": "Data Scientist", "location": "New York", "salary": 95000},
    {"title": "Data Analyst", "location": "San Francisco", "salary": 85000},
    {"title": "Machine Learning Engineer", "location": "New York", "salary": 115000}
]

job_posting_summary(job_postings)

{'Total number of postings': 3,
 'Average salary': 98333.33333333333,
 'List of unique locations': ['New York', 'San Francisco']}

Lambda Functions

Create a lambda function to calculate the average salary from a list of salaries. With salaries set as [95000, 120000, 105000, 90000, 130000].

Lambda expression: lambda <input>: <expression>

In [19]:
salaries = [95000, 120000, 105000, 90000, 130000]

avg_salary = lambda avg: sum(salaries)/len(salaries)
print(avg_salary(salaries))

108000.0

Create a lambda function to check if a job title contains the word 'Data' and use it to filter a list of job titles. With job_titles set to ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst'].Create a lambda function to check if a job title contains the word 'Data' and use it to filter a list of job titles. With job_titles set to ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst'].

In [27]:
job_titles = ["Data Scientist", "Data Engineer", "Machine Learning Engineer", "Data Analyst"]

contains = lambda title: "Data" in title
filtered_titles = list(filter(contains, job_titles))
print(filtered_titles)

['Data Scientist', 'Data Engineer', 'Data Analyst']

Create a lambda function to filter remote job postings that require Python skills from a list of job postings. The list for the variable job_postings is shown below.

In [31]:
job_postings = [
    {"title":"Data Scientist", "skills":["Python", "SQL"], "remote": True},
    {"title":"Data Analyst", "skills":["Excel", "SQL"], "remote": False},
    {"title":"Machine Learning Engineer", "skills":["Python", "Tensorflow"], "remote": True},
    {"title":"Software Developer", "skills":["Java", "C++"], "remote": True}
]

contains_python = lambda posting: "Python" in posting["skills"] and posting["remote"]
filtered_skills = list(filter(contains_python, job_postings))
print(filtered_skills)

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True}, {'title': 'Machine Learning Engineer', 'skills': ['Python', 'Tensorflow'], 'remote': True}]