Access the second job title in the list of job titles for data science roles and print it. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [1]:
job_titles = ["Data Scientist", "Data Analyst", "Machine Learning Engineer"]

second_job = job_titles[1]
print(second_job)

Data Analyst

Change the third job title in the list of job titles for data science roles to 'AI Specialist' and print the updated list. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [2]:
job_titles = ["Data Scientist", "Data Analyst", "Machine Learning Engineer"]

job_titles[2] = "AI Specialist"
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

Slice the list of job titles for data science roles to get the first two job titles and print the result. The list is ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer'].

In [5]:
job_titles = ["Data Scientist", "Data Analyst", "Machine Learning Engineer", "Data Engineer"]

print(job_titles[:2])

['Data Scientist', 'Data Analyst']

Add a new job title 'Data Engineer' to the end of the list of job titles for data science roles and print the updated list. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [7]:
job_titles = ["Data Scientist", "Data Analyst", "Machine Learning Engineer"]

job_titles.append("Data Engineer")
print(job_titles)

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']

Insert a new job title 'Business Analyst' at the second position in the list of job titles for data science roles and print the updated list. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [9]:
job_titles = ["Data Scientist", "Data Analyst", "Machine Learning Engineer"]

job_titles.insert(1, "Business Analyst")
print(job_titles)

['Data Scientist', 'Business Analyst', 'Data Analyst', 'Machine Learning Engineer']