Create a list comprehension that converts a list of salaries from USD to EUR using a conversion rate of 0.85. With the list of salaries being: salaries_usd = [100000, 120000, 80000, 90000].

In [4]:
salaries_usd = [100000, 120000, 80000, 90000]
conversion_rate = 0.85

converter_list = [(x * conversion_rate) for x in salaries_usd]
print(converter_list)

[85000.0, 102000.0, 68000.0, 76500.0]

Create a list of data science job titles that require more than 2 years of experience from the given dictionary. With job_experience set to {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}.

In [14]:
job_experience = {"Data Scientist":3, "Data Analyst":1, "Machine Learning Specialist":4, "Data Engineer":2}

filtered_list = [x for x in job_experience if job_experience[x] > 2]
print(filtered_list)

['Data Scientist', 'Machine Learning Specialist']

Create a list comprehension that extracts job titles with salaries greater than 90,000 from a given list of dictionaries containing job titles and salaries. The dictionary is job_salary_dicts named and it is set to [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}].

In [18]:
job_salary_dict = [
    {
        "job_title": "Data Scientist", "salary": 100000
    },
    {
        "job_title": "Data Analyst", "salary": 120000   
    },
    {
        "job_title": "Data Engineer", "salary": 80000
    },
    {
        "job_title": "Machine Learning Engineer", "salary": 90000
    }
]

filtered_list = [x["job_title"] for x in job_salary_dict if x["salary"] > 90000]
print(filtered_list)

['Data Scientist', 'Data Analyst']