Calculate the total annual salary for a data scientist given the monthly salary. The variable monthly_salary is set to 8000.

In [1]:
monthly_salary = 8000
annual_salary = monthly_salary * 12
print(f"Annual Salary: {annual_salary}")

Annual Salary: 96000

Determine if the average salary of a data analyst is greater than that of a data scientist. The variables avg_salary_analyst and avg_salary_scientist are set to 70000 and 85000 respectively.

In [2]:
avg_salary_analyst = 70000
avg_salary_scientist = 85000

if avg_salary_analyst > avg_salary_scientist:
    print(f"The average salary of Data Analyst is bigger than Data Scientist's ")
else:
    print(f"The average salary of Data Analyst is smaller than Data Scientist's ")

The average salary of Data Analyst is smaller than Data Scientist's

Calculate the remainder when the total number of job applications (variable total_applications is set to 123) is divided by the number of job openings (variable job_openings is set to 67).

In [3]:
total_applications = 123
job_openings = 67
remainder = total_applications % job_openings

print(remainder)

56

In [4]:
job_posting = 20
job_posting += 5
print(job_posting)

25

Calculate the average salary from the minimum and maximum salaries. The variables min_salary and max_salary are set to 50000 and 120000 respectively.

In [5]:
min_salary = 50000
max_salary = 120000

average_salary = (min_salary + max_salary) / 2
print(average_salary)

85000.0

Operators part 2

Determine if the job location 'New York' is in the list of job_locations ['New York', 'San Francisco', 'Austin'] and print the result.

In [ ]:
job_location = ["New York", "San Francisco", "Austin"]

print("New York" in job_location)

Check if the job_title 'Data Analyst' is not in the job_description string 'Data Scientist at Tech Corp' and print the result.

In [ ]:
job_title = "Data Analyst"
job_description = "Data Scientist at Tech Corp"

print(job_title not in job_description)

Check if both 'Data Scientist' and 'Machine Learning Engineer' are in the list of job titles ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'] and print the result.

In [2]:
job_title = ["Data Scientist", "Data Analyst", "Machine Learning Engineer"]
print("Data Scientist" in job_title and "Machine Learning Engineer" in job_title)

False