Add a new job title 'AI Specialist' to the set of unique job titles and print the updated set. The initial set of unique_job_titles is {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}.

In [1]:
unique_job_titles = {"Data Scientist", "Data Analyst", "Machine Learning Engineer"}
unique_job_titles.add("AI Specialist")

print(unique_job_titles)

{'AI Specialist', 'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}

Remove the job title 'Data Analyst' from the set of unique job titles and print the updated set. The initial set of unique_job_titles is {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}.

In [2]:
unique_job_titles = {"Data Scientist", "Data Analyst", "Machine Learning Engineer"}
unique_job_titles.remove("Data Analyst")

print(unique_job_titles)

{'Data Scientist', 'Machine Learning Engineer'}

Create a set of job locations named job_locations from a list of job locations for data science roles and print the set. The list is ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco'].

In [3]:
job_location = ["New York", "San Francisco", "New York", "Austin", "San Francisco"]
job_location_set = set(job_location)

print(job_location_set)

{'San Francisco', 'Austin', 'New York'}

Find the union of two sets of job skills and print the result. The first set is {'Python', 'SQL', 'Tableau'} and the second set is {'R', 'SQL', 'Machine Learning'}.

In [4]:
skill_set1 = {"Python", "SQL", "Tableau"}
skill_set2 = {"R", "SQL", "Machine Learning"}

union_set = skill_set1.union(skill_set2)
print(union_set)

{'Python', 'SQL', 'R', 'Machine Learning', 'Tableau'}

Access the second job role from the tuple job_roles and print it. The job_roles variable is set to ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

In [5]:
job_roles = ("Data Scientist", "Data Analyst", "Machine Learning Engineer")

print(job_roles[1])

Data Analyst

Create a new tuple extended_job_roles by adding the job role 'AI Specialist' to the existing tuple job_roles. Print the new tuple. The job_roles is set to job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

In [7]:
job_roles = ("Data Scientist", "Data Analyst", "Machine Learning Engineer")

extended_job_roles = job_roles + ("AI Specialist", )

print(extended_job_roles)

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Specialist')

Remove the job role 'Data Analyst' from the tuple job_roles by converting it to a list and then back to a tuple. Print the updated tuple. The tuple job_roles is set to ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

In [8]:
job_roles = ("Data Scientist", "Data Analyst", "Machine Learning Engineer")

job_roles_list = list(job_roles)
job_roles_list.remove("Data Analyst")
job_roles = set(job_roles_list)

print(job_roles)

{'Data Scientist', 'Machine Learning Engineer'}

Unpack the tuple job_postings into three variables data_scientist_postings, data_analyst_postings, and ml_engineer_postings. Print each variable. The variable job_postings is set to (120, 80, 50).

In [9]:
job_postings = (120, 80, 50)

data_scientist_postings, data_analyst_postings, machine_learning_postings = job_postings

print(data_scientist_postings)
print(data_analyst_postings)
print(machine_learning_postings)

120
80
50

Extract and print the number of postings for 'Machine Learning Engineer' from the nested tuple job_details. The job_details is set to (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50)).

In [12]:
job_details = (("Data Scientist", 120), ("Data Analyst", 80), ("Machine Learning Engineer", 50))

print(job_details[2][1])

50