Convert the string job_title to uppercase. The variable is set to 'data scientist'.

In [3]:
job_title = "data scientist"
upper_job_title = job_title.upper()
print(upper_job_title)

DATA SCIENTIST

In [4]:
job_title = "Data Analyst"
new_job_title = job_title.replace("Analyst", "Engineer")
print(new_job_title)

Data Engineer

Concatenate the strings seniority_level and job_title with a space in between. The variables are set to 'Senior' and 'Data Analyst' respectively.

In [5]:
seniority_level = "Senior"
job_title = "Data Analyst"

print(seniority_level, job_title)

Senior Data Analyst

Check the length of a string job_title. The variable is set to 'Data Scientist'.

In [6]:
job_title = "Data Scientist"
print(len(job_title))

14

Convert the string job_title to lowercase. The variable is set to 'DATA ENGINEER'.

In [7]:
job_title = "DATA ENGINEER"
lower_job_title = job_title.lower()
print(lower_job_title)

data engineer