Create a variable called job_count to store the number 42. Print job_count.

In [2]:
job_count = 42
print(job_count)

42

reate variables to store the job title, company name, and whether the job is remote for a Data Engineer position. Set the job title to 'Data Engineer', the company name to 'DataWorks', and the remote status to True. Print all the variables.

In [3]:
job_title = "Data Engineer"
job_company = "DataWorks"
remote = True
print(f"Job title: {job_title}\nJob company: {job_company}\nRemote: {remote}")

Job title: Data Engineer
Job company: DataWorks
Remote: True

Calculate the total compensation for a Data Scientist by adding two variables of base_slary and bonus. The base salary is 120000 and the bonus is 20000. Store the result in a variable named total_compensation. Print total_compensation once calculated.

In [4]:
base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus
print(total_compensation)

140000

Calculate the monthly salary of a Data Analyst job by dividing the annual salary of $72K by 12 and then printing the monthly salary. Assign appropriate variable names for each.

In [9]:
annual_salary = 72000
months = 12
monthly_salary = annual_salary / months
print(f"Monthly salary: ${monthly_salary:,.0f}")

Monthly salary: $6,000

Create variables to store the job title, company name, and salary for a Data Scientist position at AI Solutions for $110K. Then, calculate the total compensation by adding a 10% bonus to the salary and print the total compensation, along with the job and company name.

In [11]:
job_title = "Data Scientist"
company_name = "AI Solutions"
salary = 100000
bonus = 0.1

total_compensation = (salary * bonus) + salary
print(f"The total compensation for {job_title} at {company_name} is ${total_compensation:,.0f}")

The total compensation for Data Scientist at AI Solutions is $110,000